@model List<CartProducts>
@{
	ViewData["Title"] = "Cart";
	float cartSubTotal = 0;
}
<style>
	.btn-outline-warning {
		color: #F28123;
		border-color: #F28123;
	}

		.btn-outline-warning:hover {
			color: #000;
			background-color: #F28123;
			border-color: #F28123;
		}
</style>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Secure & Reliable</p>
					<h1>Cart</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- cart -->
<div class="cart-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="cart-table-wrap">
					<table class="cart-table">
						<thead class="cart-table-head">
							<tr class="table-head-row">
								<th class="product-remove"></th>
								<th class="product-image">Product Image</th>
								<th class="product-name">Name</th>
								<th class="product-price">Price($)</th>
								<th class="product-quantity">Quantity</th>
								<th class="product-total">Total($)</th>
							</tr>
						</thead>
						<tbody>
							@if (Model.Count > 0)
							{
								int i = 1;
								@foreach (var CartProduct in Model)
								{
									<tr class="table-body-row">
										<td class="product-remove">@*remove*@
											<a onclick="DeleteProduct(@CartProduct.Id)"><i class="far fa-window-close text-danger"></i></a>
										</td>
										<td class="product-image">@*image*@
											<img src="@CartProduct.ProductItem.Product.Image" alt="">
										</td>
										<td class="product-name">@*Name*@
											@CartProduct.ProductItem.Product.Name
										</td>
										<td class="product-price" id="@("itemPrice"+i)">@*price*@
											@CartProduct.ProductItem.Price
										</td>
										<td class="product-quantity">@*Quantity*@
											<input type="number" min="1" value="@CartProduct.Quantity" onchange="ChangeQuantity(@CartProduct.Id, @i, @Model.Count)" id="@("quantity"+i)">
										</td>
										<td class="product-total" id="@("totalPrice"+i)">@*totalPrice*@
											@(CartProduct.ProductItem.Price*CartProduct.Quantity)
										</td>
									</tr>
									i++;
									cartSubTotal += CartProduct.Quantity * CartProduct.ProductItem.Price;
								}

							}
							else
							{
								<tr>
									<td colspan="6" >
										<h5 style="color:#F28123">
											Your Cart is empty
										</h5>

									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="total-section">
					<table class="total-table">
						<thead class="total-table-head">
							<tr class="table-total-row">
								<th>Total</th>
								<th>Price($)</th>
							</tr>
						</thead>
						<tbody>
							<tr class="total-data">
								<td><strong>Subtotal: </strong></td>
								<td id="cartSubTotal">@cartSubTotal</td>
							</tr>
							<tr class="total-data">
								<td><strong>Coupon: </strong></td>
								<td id="couponReductionDiv" data-reduction="">0</td>
							</tr>
							<tr class="total-data">
								<td><strong>Total: </strong></td>
								<td id="cartTotal">@cartSubTotal</td>
							</tr>
						</tbody>
					</table>
					@*coupon section*@
					<div class="coupon-section">
						<div class="coupon-form-wrap">
							<form>
								<p style="display:inline-block; width:80%"><input id="couponName" type="text" placeholder="Apply Coupon"></p>
								<p style="display:inline-block"><a style="padding: 16px 20px;" onclick="ApplyCoupon()" class="btn btn-outline-warning">Apply</a></p>
							</form>
						</div>
						<div class="ms-4" id="couponTextDiv" hidden></div>
					</div>
					@*Proceed to buy*@
					@if (Model.Count > 0)
					{
						<div class="cart-buttons">
							<a href="/order/Checkout" onclick="setFinalPrice()" class="bordered-btn black">Check Out</a>
						</div>
					}
				</div>


			</div>
		</div>
	</div>
</div>
<!-- end cart -->
@section Scripts{
	<script>
		function DeleteProduct(id) {
			Swal.fire({
				title: 'Are you sure?',
				text: "You gonna remove the product from the cart!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
				if (result.isConfirmed) {
					window.location.href = "/Cart/DeleteProduct/" + id;
				}
			})
		}
		function ChangeQuantity(cartProducId, rowNum, totRows) {
			//change the total price of one product
			var newQuantity = document.getElementById(`quantity${rowNum}`).valueAsNumber;
			var itemPrice = parseFloat(document.getElementById(`itemPrice${rowNum}`).innerText);
			document.getElementById(`totalPrice${rowNum}`).innerText = newQuantity * itemPrice;
			//change the subTotal price of the cart
			var cartSubTotal = 0;
			for (i = 0; i < totRows; i++) {
				var x = document.getElementById(`totalPrice${i+1}`);
				cartSubTotal = cartSubTotal + parseFloat(x.innerText);
			}
			document.getElementById('cartSubTotal').innerText = cartSubTotal;
			////change coupon reduction
			var div = document.getElementById('couponReductionDiv');
			if (div.dataset.reduction != "") {
				div.innerText = - parseFloat(cartSubTotal) * parseFloat(div.dataset.reduction);
			}
			//change the total price of the cart
			document.getElementById('cartTotal').innerText = cartSubTotal -
				parseFloat(document.getElementById('couponReductionDiv').innerText);
			//change the quantity in the data base
			$.ajax({
			url:"/Cart/ChangeQuantity",
			type:"POST",
			data:{
					cartProductId: cartProducId,
					newQuantity: newQuantity
			},
			success:function (response){
			},
			error: function (xhr, textStatus, errorThrown) {
				console.log(xhr.responseText);
			}
			});

		}
		function ApplyCoupon() {

			//get coupon value
			var couponName = document.getElementById("couponName").value;
            if (couponName == "") {
                return;
            }
			//get div where the message will be typed in
			var couponTextDiv = document.getElementById("couponTextDiv");
			//get div where the reduction of the coupon will be typed in
			var couponReductionDiv = document.getElementById("couponReductionDiv");
			//check if the coupon is valid
			$.ajax({
				url: "/Cart/CheckCoupon",
				type: "POST",
				data: {
					couponName: couponName
				},
				success: function (response) {
					couponTextDiv.classList.remove('text-success');
					couponTextDiv.classList.remove('text-danger');
					if (response.status) {
						couponTextDiv.classList.add('text-success');
						var cartSubtotal = parseFloat(document.getElementById('cartSubTotal').innerText);
						document.getElementById('cartTotal').innerText = Math.ceil(cartSubtotal * (1 - response.reduction));
						document.getElementById('couponReductionDiv').innerText = - (cartSubtotal * response.reduction);
						document.getElementById('couponReductionDiv').classList.add('text-success');
						document.getElementById('couponReductionDiv').dataset.reduction= response.reduction;
					}
					else {
						couponTextDiv.classList.add('text-danger');
					}
					couponTextDiv.innerText = response.message;
					couponTextDiv.hidden =false;
				},
				error: function (xhr, textStatus, errorThrown) {
					console.log(xhr.responseText);
				}
			});
			



		}
		function setFinalPrice(){
			var couponName = document.getElementById('couponName').value;
			console.log(couponName);
			return;
			window.location.href = "/order/checkout?couponName=" + couponName;

		}

	</script>

}

