@using ecommerce.ViewModel;
@using Microsoft.Extensions.Options;
@inject IOptions<StripeSettings> stripe;
@model OrderViewModel
@{
	ViewData["Title"] = "CheckOut";
	float subTotal = 0;
	Model.subTotal = subTotal;
}


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Secure & Reliable</p>
					<h1>CheckOut Products</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
	<div class="container">
		<form asp-controller="Order" asp-action="CheckOut" method="post">
			<input asp-for="UserId" hidden />
			<input asp-for="CartProducts" hidden />
			<div class="row">
			<div class="col-lg-8">
				<div class="checkout-accordion-wrap">
					<div>
						<div class="card single-accordion">
							<div class="card-header">
								<h5 class=" d-flex">
									<button disabled>
										Billing Address
									</button>
								</h5>
									<input type="submit" asp-action="UpsertAddress" asp-controller="User" value="Add Address" class="boxed-btn ms-3" />
							</div>

							<div>
								<div class="card-body">
									<div class="billing-address-form">
										@if (Model.Addresses.Count > 0)
										{
											int i = 0;
											foreach (var item in Model.Addresses)
											{
												i++;
												<div class="d-flex">
													<input type="radio"
												   asp-for="AddressId"
												   value="@item.Id"
												   checked="@item.IsDefault"/>

													<div class="card mb-40">
														<div class="card-body">
															<div class="bg-light p-30">
																<div class="row">
																	<div class="col-md-6 form-group">
																		<label>First Name: </label>
																		<label>@Model.User.UserName</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Last Name: </label>
																		<label>@Model.User.UserName</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>E-mail: </label>
																		<label>@Model.User.Email</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Mobile No.: </label>
																		<label>@Model.User.PhoneNumber</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Address Line 1: </label>
																		<label>@item.Address_line1</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Address Line 2: </label>
																		<label>@item.Address_line2</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Country: </label>
																		<label>@item.Country.Country_Name</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>City: </label>
																		<label>@item.City</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Region: </label>
																		<label>@item.Region</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Postal Code: </label>
																		<label>@item.Postal_Code</label>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											}

										}
										else
										{
											<h6 class="mb-3 text-danger">You Don't have Any Addresses.</h6>

										}
									</div>
								</div>
							</div>
						</div>
						<div class="card single-accordion">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<button disabled>
										Shipping Method
									</button>
								</h5>
							</div>
							<div>
								<div class="card-body">
									<div class="shipping-address-form">
										@foreach (var shippingMethod in Model.ShippingMethods)
										{
											<div class="form-group">
												<div class="custom-control custom-radio">
													<div class="d-flex mb-3">
														<input type="radio"
														 id="@shippingMethod.Price"
														   asp-for="ShippingMethodId"
														   value="@shippingMethod.Id"
															onchange="changeShipping()"
															class="shipping-radio-class"/>
														<label class="font-weight-medium">@shippingMethod.Name</label>

														<label class="font-weight-medium ms-auto">$@shippingMethod.Price</label>
													</div>
												</div>
											</div>

										}
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-4">
				<div class="order-details-wrap">
					<table class="order-details">
						<thead>
							<tr>
								<th>Your order Details</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody class="order-details-body">
							<tr>
								<td>Product</td>
								<td>Total</td>
							</tr>
							@foreach (var cartProduct in Model.CartProducts)
							{
								<tr>
									<td>@cartProduct.ProductItem.Product.Name</td>
									<td>$@(cartProduct.ProductItem.Price * cartProduct.Quantity)</td>
								</tr>
								subTotal += cartProduct.ProductItem.Price;
							}
						</tbody>
						<tbody class="checkout-details">
								@if (Model.Reduction > 0)
								{
									<tr>
										<td>Copoun</td>
										<td>@(Model.Reduction * 100) + %</td>
									</tr>

								}
								@if (Model.Reduction > 0)
								{
									<tr>
										<td class="text-success">Subtotal<br />Copoun Applied</td>
										<td>$@(subTotal * Model.Reduction)</td>
									</tr>
									<h6>$@(subTotal * Model.Reduction)</h6>

								}
								else
								{
									<tr>
										<td>Subtotal</td>
										<td>$@subTotal</td>
									</tr>

								}
								
							<tr>
									<td>Shipping</td>
									<td id="shipping"></td>
							</tr>
							<tr>
								<td>Total</td>
								<td id="Total"></td>
							</tr>
						</tbody>
					</table>
					<br />
						@if (Model.Addresses.Count == 0)
						{
							
							<input type="submit" value="Place Order" class="boxed-btn" disabled />
						}
						else
						{
							<input type="submit" value="Place Order" class="boxed-btn" />
						}

				</div>
			</div>
		</div>
		</form>
	</div>
</div>


<!-- end check out section -->
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
	function changeShipping(){
			var radioValue = document.querySelector('input[name="ShippingMethodId"]:checked');
			var shipping = document.getElementById('shipping');
			shipping.innerText = '$' + parseFloat(radioValue.id);
			var totalPrice = parseFloat(radioValue.id) + @subTotal;
			var total = document.getElementById('Total');
			total.innerText = '$' + totalPrice;

	}
        $(document).ready(
            function () {
			$('.shipping-radio-class:first-child').prop('checked', true);
				changeShipping();
            }
			
        );
		
</script>
    }
