@model IEnumerable<ecommerce.Models.ShopOrder>

@{
    ViewData["Title"] = "Index";
    int i = 0;
}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Secure & Reliable</p>
					<h1>Your Orders</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<div class="table-responsive"></div>
<table class="table">
    <thead>
        <tr>
           <th></th>
            <th>
                Order Date
            </th>
            <th>
                Shipping Address
            </th>
            <th>
                Shipping Method
            </th>
            <th>
                Total Payment
            </th>
            <th>
                Order Status
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(++i)</td>
            <td>
                @item.OrderDate.DayOfWeek, @item.OrderDate.Day / @item.OrderDate.Month / @item.OrderDate.Year
            </td>
            <td>
                @item.ShippingAddress.Address_line1, @item.ShippingAddress.Address_line2, @item.ShippingAddress.Region,
                @item.ShippingAddress.City, @item.ShippingAddress.Country.Country_Name    (ZIP Code: @item.ShippingAddress.Postal_Code)
            </td>
            <td>
                Card
            </td>
            <td>
                $@item.OrderTotal
            </td>
            <td>
                Pending
            </td>

        </tr>
}
    </tbody>
</table>
</div>
