@using ecommerce.ViewModel;
@using Microsoft.Extensions.Options;
@inject IOptions<StripeSettings> stripe;
@model OrderViewModel
@{
	ViewData["Title"] = "CheckOut";
	float subTotal = 0;
	Model.subTotal = subTotal;
}


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Secure & Reliable</p>
					<h1>Check Out Product</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="checkout-accordion-wrap">
					<div class="accordion" id="accordionExample">
						<div class="card single-accordion">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Billing Address
									</button>
								</h5>
							</div>

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									<div class="billing-address-form">
										@if (Model.Addresses.Count > 0)
										{
											int i = 0;
											foreach (var item in Model.Addresses)
											{
												i++;
												<div class="d-flex">
													<input type="radio"
												   asp-for="AddressId"
												   value="@item.Id" />

													<div class="card">
														<div class="card-body">
															<div class="bg-light p-30">
																<div class="row">
																	<div class="col-md-6 form-group">
																		<label>First Name: </label>
																		<label>@Model.User.UserName</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Last Name: </label>
																		<label>@Model.User.UserName</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>E-mail: </label>
																		<label>@Model.User.Email</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Mobile No.: </label>
																		<label>@Model.User.PhoneNumber</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Address Line 1: </label>
																		<label>@item.Address_line1</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Address Line 2: </label>
																		<label>@item.Address_line2</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Country: </label>
																		<label>@item.Country.Country_Name</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>City: </label>
																		<label>@item.City</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Region: </label>
																		<label>@item.Region</label>
																	</div>
																	<div class="col-md-6 form-group">
																		<label>Postal Code: </label>
																		<label>@item.Postal_Code</label>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											}

										}
										else
										{
											<h6 class="mb-3 text-danger">You Don't have Any Addresses.</h6>

										}
									</div>
								</div>
							</div>
						</div>
						<div class="card single-accordion">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Shipping Address
									</button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
									<div class="shipping-address-form">
										<p>Your shipping address form is here.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="card single-accordion">
							<div class="card-header" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Card Details
									</button>
								</h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
								<div class="card-body">
									<div class="card-details">
										<p>Your card details goes here.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-4">
				<div class="order-details-wrap">
					<table class="order-details">
						<thead>
							<tr>
								<th>Your order Details</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody class="order-details-body">
							<tr>
								<td>Product</td>
								<td>Total</td>
							</tr>
							<tr>
								<td>Strawberry</td>
								<td>$85.00</td>
							</tr>
							<tr>
								<td>Berry</td>
								<td>$70.00</td>
							</tr>
							<tr>
								<td>Lemon</td>
								<td>$35.00</td>
							</tr>
						</tbody>
						<tbody class="checkout-details">
							<tr>
								<td>Subtotal</td>
								<td>$190</td>
							</tr>
							<tr>
								<td>Shipping</td>
								<td>$50</td>
							</tr>
							<tr>
								<td>Total</td>
								<td>$240</td>
							</tr>
						</tbody>
					</table>
					<a href="#" class="boxed-btn">Place Order</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end check out section -->

