@model Product
@{
    ViewData["Title"] = $"{Model.Name} Details";
}

@section Links{
    <link href="~/css/style.css" rel="stylesheet">
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Secure & Reliable</p>
                    <h1>@Model.Name Details</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- Shop Detail Start -->
<div class="container-fluid pb-5" style="padding-top:100px; padding-bottom:135px">
    <div class="row px-xl-5 justify-content-center">
        <div class="col-lg-4 mb-30" style="justify-content: center">
            <div id="product-carousel" class="carousel slide" data-ride="carousel" style="justify-content: center">
                <div class="carousel-inner bg-light d-flex justify-content-center" style="justify-content: center">
                    <div >
                        <img src="@Model.Image" alt="Image" style="max-height:450px; max-width:100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 h-auto mb-30">
            <div class="h-100 bg-light p-30 d-flex flex-column justify-content-between">
                <div>
                    <h3>@Model.Name :</h3>@*Name*@
                    <h5 class="mb-3 ">@Model.Description</h5>@*Description*@
                    <div class=" mb-3">
                        @*Price*@
                        <h4 class="m-0" style="display:inline-block; color:#F28123">Price: $</h4>
                        <h4 id="price" style="display:inline-block; color:#F28123">@Model.ProductItems[0].Price</h4>
                    </div>
                    @{
                        int j = 0;
                    }
                    @foreach (Variation variation in ViewBag.variationWithOptions)
                    {
                        int i = 0;
                        j++;
                        <div class="d-flex flex-column" id="var">
                            <strong class="text-dark mr-3" for="flexRadioDefault1">@variation.Name :</strong>@*VariationName*@
                            <form>
                                <div class="custom-control custom-radio d-flex align-items-center">

                                    @foreach (VariationOptions x in variation.VariationOptions)
                                    {
                                        if (i == 0)
                                        {
                                            <input class="ms-3 me-1" type="radio" name="flexRadioDefault+@j" id="flexRadioDefault1" checked value="@x.Id" onclick="GetPrice()">

                                        }
                                        else
                                        {
                                            <input class="ms-3 me-1" type="radio" name="flexRadioDefault+@j" id="flexRadioDefault1" value="@x.Id" onclick="GetPrice()">
                                        }
                                        <label class="form-check-label" for="flexRadioDefault1">@x.Value</label>
                                        i++;
                                    }
                                </div>
                            </form>
                        </div>

                    }
                    <p id="modelId" hidden>@Model.Id</p>
                </div>
                @*Buttons*@
                <div class="mt-4">
                    @*                    <div class="input-group quantity mr-3" style="width: 130px;">
                    <span class="input-group-text bg-primary text-white border-0 fw-semibold"
                    id="inputGroup-sizing-default">Count</span>
                    <input type="number" value="1" class="form-control text-end" min="0" id="counter" />
                    </div>*@
                    @if (!User.Identity.IsAuthenticated)
                    {
                        @if (ViewBag.isAddedToFavorites)
                        {
                            <a class="bordered-btn black me-3 rounded-0 text-decoration-none" onclick="AddToFavorites(@Model.Id)" id="AddToFavoritesAnchor">
                                <i class="fa-solid fa-heart"></i> Added to favorites
                            </a>
                        }
                        else
                        {
                            <a class="bordered-btn black me-3 rounded-0 text-decoration-none" onclick="AddToFavorites(@Model.Id)" id="AddToFavoritesAnchor">
                                <i class="fa-regular fa-heart"></i> Add to favorites
                            </a>
                        }
                    }
                    else
                    {
                        <a class="bordered-btn black me-3 rounded-0 text-decoration-none" onclick="AddToFavorites(@Model.Id)" id="AddToFavoritesAnchor">
                            <i class="fa-regular fa-heart"></i> Add to favorites
                        </a>
                    }


                    <a class="bordered-btn black me-3 rounded-0 text-decoration-none" onclick="AddToCart(@Model.Id)" id="AddToCartAnchor">
                        <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
                    </a>
                    <a class="bordered-btn black rounded-0 text-decoration-none" asp-action="Index" asp-route-CategoryId="@Model.CategoryId">
                        <i class="fa fa-shopping-cart mr-1"></i> Back To Shop
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- Shop Detail End -->
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/easing/easing.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script>
        function AddToFavorites(id) {
            $.ajax({
                url: "/User/AddToFavorites?productId=" + id,
                type: "POST",
                success: function (response) {
                    if (response) {
                        document.getElementById('AddToFavoritesAnchor').innerHTML = '<i class="fa-solid fa-heart" ></i> Remove from favorites';
                    }
                    else {
                        document.getElementById('AddToFavoritesAnchor').innerHTML = '<i class="fa-regular fa-heart"></i> Add to favorites';
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                }
            });
        }
        function AddToCart(productId) {
            let elements = document.querySelectorAll("#flexRadioDefault1");
            let selected = [];
            for (const element of elements) {
                if (element.checked) {
                    selected.push(element.value);
                }
            }
            $.ajax({
                url: "/Cart/AddToCart",
                type: "POST",
                data: {
                    variationOptions: selected,
                    productId: productId
                },
                success: function (response) {
                    if (response) {
                        document.getElementById('AddToCartAnchor').innerHTML = '<i class="fa fa-shopping-cart mr-1"></i> Remove from Cart';
                    }
                    else {
                        document.getElementById('AddToCartAnchor').innerHTML = '<i class="fa fa-shopping-cart mr-1"></i> Add To Cart';
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                }
            });
        }
        
        function GetPrice() {
            let elements = document.querySelectorAll("#flexRadioDefault1");
            let selected = [];
            for (const element of elements) {
                if (element.checked) {
                    selected.push(element.value);
                }
            }
            GetPriceAjax(selected);
            return selected;
        }

        function GetPriceAjax(selected) {
            var productId = parseInt(document.getElementById("modelId").innerText)
            $.ajax({
                url: "/ProductItem/GetProductItem",
                type: "POST",
                data: {
                    variationOptions: selected,
                    productId: productId
                },
                success: function (response) {
                    console.log(response);
                    document.getElementById("price").innerText = response[0];
                    document.getElementById("counter").max = response[1];
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                }
            });
        }

    </script>

}






@*                            function GetPrice() {
            let elements = document.querySelectorAll("#flexRadioDefault1");
            //console.log(elements);
            let selected = [];
            for (const element of elements) {
                if (element.checked) {
                    selected.push(element.value);
                }
            }
            //console.log(selected)
            //let nos = document.querySelectorAll("#var").length
            //console.log(nos)
            //if (selected.length == nos) {
            //}
            GetPriceAjax(selected);
            return selected;
        }*@