@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<!-- Text area Start-->
<div class="hero-area hero-bg" style="height:50%">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        @*<p class="subtitle">User Profile</p>*@
                        <h1 style="margin:9rem 0 0 0">LogIn</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Text area End -->
<div class="row">
    <div class="col-md-6">
        <form  action="/Account/Login"  method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-6">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if (Model.ExternalLogins.Count != 0)
                {
                    <form method="post" action="/Account/ExternalLogin/@Model.ReturnUrl" /*asp-action ="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" * / class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    string imageSrc = string.Empty;
                                    switch (provider.DisplayName)
                                    {
                                        case "Google":
                                            imageSrc = "https://gfx4arab.com/wp-content/uploads/2020/06/google-icon.svg";
                                            break;
                                        case "Facebook":
                                            imageSrc = "https://cdn.freebiesupply.com/logos/large/2x/facebook-3-logo-png-transparent.png";
                                            break;
                                        case "Microsoft":
                                            imageSrc = "https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Microsoft_Store_logo.svg/1200px-Microsoft_Store_logo.svg.png"; break;
                                    }
                                    <button type="submit" class="btn btn-light btn-block" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <img src="@imageSrc" alt="@provider.DisplayName" style="height: 20px;" />
                                        Login With @provider.DisplayName
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

<div>
    <a asp-action="Register">Create Account </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
