@model UserProfil_VM
@{
    ViewData["Title"] = "Profile";
}
@section Links{
    <link rel="stylesheet" href="/css/UserViews.css" />
}
<!-- Text area Start-->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    
                    <h1>Hello </h1><h1 style="color:#f28123">Moaaz</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Text area End -->
<div class="row userProfile">
    <div class="col-3 SideBar">
        <ul>
            <li  class="active">
                <a asp-action="Update"><i class="fa-solid fa-id-card"></i>Profile</a>
            </li>
            <li>
                <a asp-action="ChangePassword"><i class="fa-solid fa-lock"></i>Change Password</a>
            </li>
            <li >
                <a asp-action="UpsertAddress"><i class="fa-solid fa-location-dot"></i>Add Address</a>
            </li>
        </ul>
    </div>
    <div class="col-9" id="changableContent">
        <form method="post" action="/User/Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="UserName" class="control-label col-lg-2 col-sm-12"></label>
                <div class="col-lg-10 col-sm-12">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="control-label col-lg-2 col-sm-12"></label>
                <div class="col-lg-10 col-sm-12">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Phone" class="control-label col-lg-2 col-sm-12"></label>
                <div class="col-lg-10 col-sm-12">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="boxed-btn black" />
                <a asp-action="Update" class="boxed-btn black">Reset</a>
            </div>
        </form>
            @if (Model.addresses.Count == 0)
            {
                <h4>you don't have any addresses. <a asp-action="UpsertAddress">add one</a></h4>
            }
            else
            {

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Address</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.addresses.Count; i++)
                        {
                            <tr>
                                <th scope="row">@(i+1)</th>
                                <td>
                                    <div>Unit: @Model.addresses[i].Unit_Number, Building: @Model.addresses[i].Street_Number</div>
                                    <div>ST1: @Model.addresses[i].Address_line1</div>
                                    @if (string.IsNullOrEmpty(Model.addresses[i].Address_line2))
                                    {
                                        <div>ST1: @Model.addresses[i].Address_line2</div>
                                    }
                                    <div>@Model.addresses[i].Region, @Model.addresses[i].City, @Model.addresses[i].Country.Country_Name</div>
                                    <div>Postal Code: @Model.addresses[i].Postal_Code</div>
                                </td>
                                @if (Model.addresses[i].IsDefault)
                                {
                                    <td>
                                        <div><span class="text-success"><i class="fa-solid fa-check"></i>Default</span></div>
                                        <div><a asp-action="UpsertAddress" asp-route-id="@Model.addresses[i].Id" class="btn btn-info">Edit</a></div>
                                        <div><a onclick="DeleteAddress(@Model.addresses[i].Id)" class="btn btn-danger">Delete</a></div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div><a asp-action="SetAsDefault" asp-route-id="@Model.addresses[i].Id" class="">Set as Default</a></div>
                                        <div><a asp-action="UpsertAddress" asp-route-id="@Model.addresses[i].Id" class="btn btn-info">Edit</a></div>
                                    <div><a onclick="DeleteAddress(@Model.addresses[i].Id)" class="btn btn-danger">Delete</a></div>
                                    </td>
                                    
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }


    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function DeleteAddress(id){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/User/DeleteAddress/" + id;
                }
            })
        }

    </script>

}
